@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Russo+One');

@font-face {
  font-family: 'Flood';
  src: url('./assets/fonts/FloodStd.otf') format('truetype');
}

@font-face {
  font-family: pixelfont;
  src: url(./assets/fonts/MonoLight.woff2) format('woff2');
  font-weight: 300;
  font-style: regular;
}

@font-face {
  font-family: pixelfont;
  src: url(./assets/fonts/MonoRegular.woff2) format('woff2');
  font-weight: 500;
  font-style: regular;
}

@font-face {
  font-family: pixelfont;
  src: url(./assets/fonts/MonoMedium.woff2) format('woff2');
  font-weight: 700;
  font-style: regular;
}

@font-face {
  font-family: pixelfont;
  src: url(./assets/fonts/MonoBold.woff2) format('woff2');
  font-weight: 800;
  font-style: regular;
}

@font-face {
  font-family: SB;
  src: url(./assets/fonts/MSBee-Thin.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: SB;
  src: url(./assets/fonts/MSBee-Thin.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: SB;
  src: url(./assets/fonts/MSBee-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: SB;
  src: url(./assets/fonts/MSBee-Regular.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: SB;
  src: url(./assets/fonts/MSBee-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: SB;
  src: url(./assets/fonts/MSBee-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@layer utilities {
  .word-space-3 {
    word-spacing: 10px;
  }

  .transition-auto {
    @apply transition-all duration-300 ease-in-out;
  }

  .transform-flip {
    transform: scaleX(-1);
  }

  .max-w-11xl {
    max-width: 112rem;
  }

  .z-100 {
    z-index: 100;
  }
}

html,
body {
  font-family: pixelfont;
  font-weight: 600;
  background-color: #ededed;
}

a,
h2,
h5 {
  font-family: SB !important;
}

h2 {
  @apply font-black;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
